# AVAILABLE COLORS:
# kMagenta
# kBlue
# kOrange
# kRed
#####################################################
#FORMAT: input root histo-name line-color area-color  
#####################################################
HISTOGRAM syst_results/Razor/results/T6ttZH_Rzr_results.root xsecUL_Exp_T6ttZH_Rzr
EXPECTED syst_results/Razor/results/T6ttZH_Rzr_results.root Exp_T6ttZH_Rzr ExpPlus_T6ttZH_Rzr ExpMinus_T6ttZH_Rzr kRed kOrange
EXPECTED2 syst_results/Razor/results/T6ttZH_Rzr_results.root Exp_T6ttZH_Rzr ExpPlus2_T6ttZH_Rzr ExpMinus2_T6ttZH_Rzr kGray+1 kGray
# Preliminary Simulation or leave empty
PRELIMINARY Preliminary
# Lumi in pb 
LUMI 137000
# Beam energy in TeV
ENERGY 13
#
