# AVAILABLE COLORS:
# kMagenta
# kBlue
# kOrange
# kRed
#####################################################
#FORMAT: input root histo-name line-color area-color  
#####################################################
HISTOGRAM syst_results/run_2018_05_07_syst/results/T2tt_TopAna_results.root xsecUL_Exp_T2tt_TopAna
EXPECTED syst_results/run_2018_05_07_syst/results/T2tt_TopAna_results.root Exp_T2tt_TopAna ExpPlus_T2tt_TopAna ExpMinus_T2tt_TopAna kRed kOrange
EXPECTED2 syst_results/run_2018_05_07_syst/results/T2tt_TopAna_results.root Exp_T2tt_TopAna ExpPlus2_T2tt_TopAna ExpMinus2_T2tt_TopAna kGray+1 kGray
OBSERVED syst_results/run_2018_05_07_syst/results/T2tt_TopAna_results.root Obs_T2tt_TopAna ObsPlus_T2tt_TopAna ObsMinus_T2tt_TopAna kBlack kBlue-9
# Preliminary Simulation or leave empty
PRELIMINARY Preliminary
# Lumi in pb 
LUMI 35900
# Beam energy in TeV
ENERGY 13
#
BOXES Top
