# AVAILABLE COLORS:
# kMagenta
# kBlue
# kOrange
# kRed
#####################################################
#FORMAT: input root histo-name line-color area-color  
#####################################################
HISTOGRAM syst_results/run__syst/results/_WAna_nj45_WAna_nj6_results.root xsecUL_Exp__WAna_nj45_WAna_nj6
EXPECTED syst_results/run__syst/results/_WAna_nj45_WAna_nj6_results.root Exp__WAna_nj45_WAna_nj6 ExpPlus__WAna_nj45_WAna_nj6 ExpMinus__WAna_nj45_WAna_nj6 kRed kOrange
EXPECTED2 syst_results/run__syst/results/_WAna_nj45_WAna_nj6_results.root Exp__WAna_nj45_WAna_nj6 ExpPlus2__WAna_nj45_WAna_nj6 ExpMinus2__WAna_nj45_WAna_nj6 kGray+1 kGray
# Preliminary Simulation or leave empty
PRELIMINARY Work_in_progress
# Lumi in pb 
LUMI 35900
# Beam energy in TeV
ENERGY 13
#
BOXES W
