# AVAILABLE COLORS:
# kMagenta
# kBlue
# kOrange
# kRed
#####################################################
#FORMAT: input root histo-name line-color area-color  
#####################################################
HISTOGRAM SYST_DIR/results/Model_Box_results.root xsecUL_Exp_Model_Box
EXPECTED SYST_DIR/results/Model_Box_results.root Exp_Model_Box ExpPlus_Model_Box ExpMinus_Model_Box kRed kOrange
EXPECTED2 SYST_DIR/results/Model_Box_results.root Exp_Model_Box ExpPlus2_Model_Box ExpMinus2_Model_Box kGray+1 kGray
# Preliminary Simulation or leave empty
PRELIMINARY Preliminary
# Lumi in pb 
LUMI 35900
# Beam energy in TeV
ENERGY 13
#
BOXES boxname
