# AVAILABLE COLORS:
# kMagenta
# kBlue
# kOrange
# kRed
#####################################################
#FORMAT: input root histo-name line-color area-color  
#####################################################
HISTOGRAM syst_results/run_2018_06_08_syst/results/T5tttt_WAna_nj45_WAna_nj6_results.root xsecUL_Exp_T5tttt_WAna_nj45_WAna_nj6
EXPECTED syst_results/run_2018_06_08_syst/results/T5tttt_WAna_nj45_WAna_nj6_results.root Exp_T5tttt_WAna_nj45_WAna_nj6 ExpPlus_T5tttt_WAna_nj45_WAna_nj6 ExpMinus_T5tttt_WAna_nj45_WAna_nj6 kRed kOrange
EXPECTED2 syst_results/run_2018_06_08_syst/results/T5tttt_WAna_nj45_WAna_nj6_results.root Exp_T5tttt_WAna_nj45_WAna_nj6 ExpPlus2_T5tttt_WAna_nj45_WAna_nj6 ExpMinus2_T5tttt_WAna_nj45_WAna_nj6 kGray+1 kGray
OBSERVED syst_results/run_2018_06_08_syst/results/T5tttt_WAna_nj45_WAna_nj6_results.root Obs_T5tttt_WAna_nj45_WAna_nj6 ObsPlus_T5tttt_WAna_nj45_WAna_nj6 ObsMinus_T5tttt_WAna_nj45_WAna_nj6 kBlack kBlue-9
# Preliminary Simulation or leave empty
PRELIMINARY Preliminary
# Lumi in pb 
LUMI 35900
# Beam energy in TeV
ENERGY 13
#
BOXES W
